.box .summary-box {
       display: flex;
       flex-flow: column;
       height: 100%;
       padding-bottom: 5px;
       padding-top: 5px;
       margin-top: 5px;
       margin-bottom: 5px;
}

.row .summary-box{
  display: flex;
  height: 98%;
  margin-top: 5px;
       margin-bottom: 5px;
}

.filter-option-inner-inner .shiny-output-error{
  color: #707070; 
  background-color: rgba(0, 0, 0, 0);
}
