.box .summary-box  {
       display: flex;
       flex-flow: column;
       height: 100%;
       padding-bottom: 3px;
       padding-top: 35px;
       margin-top: 3px;
       margin-bottom: 3px;
}

.link-box {
       display: flex;
       flex-flow: column;
       margin-left: 2px;
       margin-right: 2px;
       max-width: 33%;
       height: 100%;
       width: 33%;
}

.row .summary-box{
  display: flex;
  height: 98%;
  margin-top: 5px;
       margin-bottom: 5px;
       width: 100%;
}

.filter-option-inner-inner .shiny-output-error{
  color: #707070; 
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 750px){
#navlistPanel {
  position: fixed;
  width: 16vw;
}
}

@media screen and (min-width: 750px){
#engregbox {
  position: sticky;
  top: 10px;
  z-index: 10;
}
}

@media screen and (min-width: 750px){
#lapickbox {
  position: sticky;
  top: 10px;
  z-index: 10;
}
}

.shiny-output-error-summary-validation {
  color: #dcdcdc;
}

#level_choice-label{
  margin-top: 5px;
  padding-top: 0px;
}
